header{
    color:skyblue;
    background-color:black;
    padding:10px;
    text-align: center;
}
body{
    /* background-image: linear-gradient(to bottom right,lightblue, green);  */
    background-image: radial-gradient(lightblue, orange);
}
section{
    margin: 30px;
} 
.cards{
    display: flex;
    column-gap: 50px;
    row-gap: 50px;
    flex-wrap: wrap;
}
a{
    width: 25%;
    height:300px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
}
.card{
    height:300px;
    width:100%;
    border: 2px solid black;
    background-image: url("epam.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-width: 0px;
    border-radius: 20px;
    transition-duration: 0.7s;
}
.card>p{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left:15%;
}
.card:hover{
    transform: scale(1.15);
}