header{
    background-color: green;
    width:100%;
    padding:20px;
}
header>div>h1,h3{
    font-family: Roboto,sans-serif;
    margin:auto;
    width:50%;
    background-color: white;
    text-align:center;
}
nav>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.s1{
    display: flex;
    text-align: left;
}
.s11>img{
    width:250px;
    margin:10px;
}
section b{
    font-size: 20px;
}
.s22{
    margin:10px;
}
label{
    cursor: pointer;
    text-decoration:underline;
    color:blue;
}
label + input {
    display : none;
}
label + input + span{
    display : none;
}
#collapse-check1 + input:checked + #span-one{
    display : inline;
}
#collapse-check2 + input:checked + #span-two{
    display : inline;
}
#collapse-check3 + input:checked + #span-three{
    display : inline;
}
#collapse-check4 + input:checked + #span-four{
    display : inline;
}

#collapse-check1 + input:checked {
    display : none;
}
#collapse-check2 + input:checked {
    display : none;
}
#collapse-check3 + input:checked {
    display : none;
}
#collapse-check4 + input:checked {
    display : none;
}


@media screen and (max-width:800px){
    header{
        background-color: lightgreen;
        width:100%;
        padding:20px;
    }
    header>div>h1,h3{
        font-family: sans-serif;
        margin:auto;
        width:50%;
        background-color: white;
        text-align:center;
    }
    nav>ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    .s1{
        display: flex;
        text-align: left;
        flex-direction: column;
    }
    .s11>img{
        width:400px;
        margin:30px;
    }
    section b{
        font-size: 20px;
    }
    .s22{
        margin:10px;
    }
}

